.main{
    width:100%;
    height: 100%; 
    color:white
}
.title{
    margin-top:1rem;
    margin-left: 3rem;
}
.heading{
    margin-left: 3rem;
    margin-top: 1rem;
    font-size:40px;
}
.head{
    margin-left: 3rem;
    margin-top: 1rem;
    margin-left: 3rem;
}
.para{
    margin-left: 3rem;
    margin-top: 1rem;
    margin-left: 3rem;
}
.imag{
    margin-top:1rem;
    margin-left: 3rem;
    display: inline-block;
}
.people{
    margin-left: 3rem;
    margin-top:1rem;
    display: inline-block;
    margin-left: 3rem;
}
.collectibles{
    margin-top:1rem;
    margin-left: 3rem;
}
.collection{
    margin-top:0.5rem;
    margin-right:2rem;
    display: flex;
    overflow-x :scroll;
}
.collection::-webkit-scrollbar {
    display: none;
  }
.but{
    margin-top: 1rem;
    margin-right: 22rem;
    float:right;
    margin-top:3rem; 
}
.butt{
    width: 200px;
    height: 50px;
    background-color: #FFCA5F;
    border-radius: 40px;
    font-size:22px
}
.i{
    margin-right: 20px;
}